*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#dashboard-content-panel{
    width: 100%;
}

div.branding{
    background-color: #1f2937;
    color: white;
    padding: 25px;
    display: flex;
}

body{
    background-color: #f3f4f6;
    /*overflow-y: hidden;*/
}


aside {
    background-color: white;
    width: 25%;
    min-height: 100vh;
    padding-left: 15px;
  }


  aside > div{
      display: flex;
  }

  aside > div img{
      margin-top: 15px;
  }
aside p{
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    width: fit-content;
}

hr{
    width: 90%;
}

main{
    display: flex;
}

div.input-item > label{
    font-weight: bold;
}