#dashboard-user-panel{
    width: 100%;
}

.userHeader{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

#addUserButton{
    display: flex;
    background-color: rgb(101, 18, 173);
    box-sizing: border-box;
    height: 30px;
    align-items: center;
    padding: 0px 10px;
    border-radius: 3px;
    color: white;
    margin-top: 20px;
}

/*.usersTable{*/
/*    background-color: white;*/
/*    text-align: left;*/
/*    margin-left: 20px;*/
/*    padding: 10px;*/
/*    width: 100%;*/
/*    border: 1px solid rgb(223, 231, 237);*/
/*    border-radius: 7px;*/
/*    border-spacing: 0;*/
/*}*/

.tableContainer{
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
}

.usersTable{
    background-color: white;
    text-align: left;
    padding: 10px;
    width: 100%;
    border: 1px solid rgb(223, 231, 237);
    border-radius: 5px;
    border-spacing: 0;
}

th, td{
    padding: 5px 10px;
}

tr:nth-child(odd) {
    background-color: rgb(223, 231, 237);
}

th{
    background-color: #b8c2d1;
}

td{
    color: grey;
}

.tableName{
    color: black;
    font-weight: bold;
}

h2{
    margin: 20px;
    font-size: 2em;
}


hr{
    margin: auto;
}

.data-entry{
    width: 100%;
}